:root {
    --orchid:#cc99ff;
    --smoke:#404040;
}

.nav {
    padding: 0px 10px 0px 0px;
    font-size: 22px;
}
a {
    color: var(--orchid);
}

body {
    font-family: 'Bree Serif', serif;
}

h1 {
    text-align: left;
    margin: -29px 0px -48px -128px;
    color: var(--orchid);
}

h2 {
    font-size: 24px;
    color: var(--smoke);
}
p {
    color: var(--smoke);
}
.container-fluid-work {
    width: 100%;
    padding-right: 29px;
    padding-left: 189px;
    margin-right: auto;
    margin-left: auto;
}

.card-first {
    background-image: url("../images/james-lee-O0SDcGZY8Ao-unsplash\ \(1\).jpg");
    border-radius: 5px;  
}

.card-second {
    background-image: url("../images/nick-kane-ZSVusaft92A-unsplash.jpg");
    border-radius: 5px;
}

.card-third {
    background-image: url("../images/iswanto-arif-OJ74pFtrYi0-unsplash.jpg");
    border-radius: 5px;
}

.card-fourth {
    background-image: url("../images/cody-fitzgerald-lWJeGCgVbYI-unsplash.jpg");
    border-radius: 5px;
}

.card-fifth {
    background-image: url("../images/jason-blackeye-pDYaVUmp0ak-unsplash.jpg");
    border-radius: 5px;
}

.jumbotron {
    background-image: url("../images/background2.png");
    border-radius: 5px;
}

.container-fluid-body {
    background-image: url("../images/background.png");
    border-radius: 5px;
}
