:root {
    --orchid:#cc99ff;
}

.nav {
    padding: 0px 10px 0px 0px;
    font-size: 20px;
}

body {
    font-family: 'Bree Serif', serif;
}

h1 {
    text-align: left;
    margin: -29px 0px -48px -128px;
}
